// Colors
.orange-color {
  color: $orange;
}

.grey-color {
  color: $grey;
}

.light-grey-color {
  color: $light-grey;
}

.white-color {
  color: $white;
}

.grey-color-link {
  color: $grey;
  transition: color .2s ease-in-out;

  &:hover {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
  }
}

.white-color-link {
  color: $white;

  &:hover {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
  }
}

// Typography
.tiny-font-size {
  font-size: $tiny-font-size;
}

// Elements
.heading {
  color: $white;
  font-weight: bold;
  letter-spacing: $base-spacing;
  margin-bottom: 30px;
  font-size: $header-font-size;

  &-main {
    font-size: $main-header-font-size;
    margin-bottom: 25px;
  }
}

.description {
  color: $white;
  font-weight: 500;
  font-size: $medium-font-size;
  letter-spacing: $base-spacing;
  margin-bottom: 30px;

  &-dark {
    color: $dark-black;
  }
}

.horizontal-grey-link {
  color: $grey;

  &:before {
    content: "";
    display: inline-block;
    width: 60px;
    background: $grey;
    height: 1.1px;
    vertical-align: middle;
    margin-right: 10px;
    transition: width .5s ease-in;
  }

  &:hover {
    color: $orange;
    font-weight: bold;
    text-decoration: none;

    &:before {
      width: 70px;
      height: 2px;
      background: $orange;
    }
  }
}

/* Not scoped */
.contacts {
  .mail-text {
    arrow-svg {
      & /deep/ svg {
        transition: all 1s ease-in-out;
      }
    }

    &:hover {
      .arrow-svg {
        & /deep/ svg {
          animation: mail-arrow-svg .5s;
          transform: rotate(180deg);
        }
      }
    }
  }
}

@keyframes mail-arrow-svg {
  from {transform: rotate(0deg)}
  to {transform: rotate(180deg)}
}

// Responsive
@include media-max-width($menu-breakpoint) {
  .horizontal-grey-link {
    &:before {
      width: 30px;
    }

    &:hover {
      &:before {
        width: 40px;
      }
    }
  }
}

@include media-max-width($lg-max) {
  .description {
    font-size: 20px;
  }

  .contacts {
    .mail-text {
      .arrow-svg {
        & /deep/ svg {
          width: 40px;
        }
      }
    }
  }
}

@include media-max-width($md-max) {
  .heading {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;

    &-main {
      font-size: 36px;
    }
  }

  .contacts {
    .mail-text {
      .arrow-svg {
        & /deep/ svg {
          width: 30px;
        }
      }
    }
  }
}

@include media-max-width($sm-max) {
  .description {
    font-size: 18px;
  }
}

@include media-max-width($xs-max) {
  .description {
    font-size: 14px;
  }
}