// Colors
.orange-color {
  color: $orange;
}

.grey-color {
  color: $grey;
}

.light-grey-color {
  color: $light-grey;
}

.white-color {
  color: $white;
}

.grey-color-link {
  color: $grey;

  &:hover {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
  }
}

.white-color-link {
  color: $white;

  &:hover {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
  }
}

// Typography
.tiny-font-size {
  font-size: $tiny-font-size;
}

// Elements
.heading {
  color: $white;
  font-weight: bold;
  letter-spacing: $base-spacing;
  margin-bottom: 30px;
  font-size: $header-font-size;

  &-main {
    font-size: $main-header-font-size;
    margin-bottom: 25px;
  }
}

.description {
  color: $white;
  font-weight: 500;
  font-size: $medium-font-size;
  letter-spacing: $base-spacing;
  margin-bottom: 30px;

  &-dark {
    color: $dark-black;
  }
}