// Typography
$base-font-family: 'Montserrat', sans-serif;

// Colors
$dark-black: #121212;
$base-black: #030301;
$white: #fff;
$grey: #777;
$light-grey: #BCBFC1;
$dark-grey: #373739;
$orange: #F44336;


// before

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Font sizes
$main-header-font-size: 48px;
$header-font-size: 40px;
$medium-font-size: 28px;
$base-font-size: 16px;
$small-font-size: 14px;
$tiny-font-size: 12px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 0.01em;
$small-spacing: $base-spacing / 2;

// Colors
$blue: #1565c0;
$grey--medium: #999;
$grey--mediumLight: lighten($grey--medium, 25%);
$grey--light: #fafafa;
$salmon: #E56B70;

// Font Colors
$base-font-color: $grey;

// Border
$base-border-color: $grey--light;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;

// Focus
$focus-outline-color: transparentize($orange, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
