// Typography
$base-font-family: 'Montserrat', sans-serif;

// Colors
$dark-black: #121212;
$base-black: #030301;
$white: #fff;
$grey: #777;
$light-grey: #BCBFC1;
$dark-grey: #373739;
$extra-dark-grey: #1E1E1E;
$orange: #F44336;

// Font sizes
$main-header-font-size: 48px;
$header-font-size: 40px;
$secondary-header-font-size: 36px;
$extra-medium-font-size: 32px;
$medium-font-size: 28px;
$extra-medium-base-font-size: 24px;
$medium-base-font-size: 20px;
$base-font-size: 18px;
$small-base-font-size: 16px;
$small-font-size: 14px;
$tiny-font-size: 12px;
$extra-tiny-font-size: 10px;

$extra-large-letter-font-size: 288px;
$large-letter-font-size: 90px;
$medium-letter-font-size: 60px;

// Sizes
$home-block-height: calc(100vh - 250px);

// Other Sizes
$base-spacing: 0.01em;