.navbar {
  &.navbar-dark {
    .navbar-nav {
      .nav-item {
        padding: 0 15px;

        .nav-link {
          color: $grey;
          letter-spacing: 0.01em;

          &.active {
            color: $white;
            font-weight: bold;
          }
        }
      }
    }
  }
}